.container {
    margin: 50px;
    width: 600px;
    border: 1px solid grey;
    box-sizing: content-box;
    padding: 10px;
}

#display {
    line-height: 130px;
    font-size: 100px;
    padding: 0 30px;
    text-align: right;
    box-sizing: border-box;
    border: 1px dotted #A8A7A7;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

#buttons {
    margin-top: 10px;
}

#buttons::after {
    content: ' ';
    clear: both;
    display: table;
}

.button {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 75.5px;
    background: grey;
    line-height: 140px;
    font-size: 75px;
    float: left;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background: #B8B8B8;
}

.button:active {
    background: #929292;
}